{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  <div class="row">
    {{ partial "mobile_nav_toggle.html" . }}
    {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="col-lg-8">
      <div class="content-column-content">
      <p></p>
      <h2>{{ .Key }}</h2>
      {{ range sort .Pages.ByDate.Reverse }}
        <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
      {{ end }}
      </div>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}


